.guideline-wrapper{
    height: 150vh;
}

.guideline-body{
display: flex;
margin-top: 13rem;
justify-content: center;
}

.content-wrapper{
    height: 125vh;
    width: 88%;
    background-color: #fff;
    border: 3px solid #000000;
    box-shadow: 12px 12px 0 #000000;
}

.guideline-heading{
    padding: 2rem 3rem 2rem 3rem;
    font-size: 4rem;
    text-decoration: underline;
}